.img{
width:25vw;
height:25vw;


}
.top{
float:left;
}

.center{
 width:75vw;
}
#portfolio{
margin-left:12.5vw;
margin-right:12.5vw;
margin-top:10vh;
width:75vw;
}

@media screen and (max-width:425px){
.img{
width:37.5vw;
height:37.5vw;

}

}
